<div
  class="bg-gray-900 text-white text-opacity-40 font-semibold uppercase text-xs tracking-widest bg-opacity-80 px-12"
>
  <div
    class="container mx-auto grid grid-cols-1 lg:grid-cols-4 gap-12 text-center lg:text-left py-24"
  >
    <div>
      <div class="text-white opacity-100 text-4xl font-display">
        <img src="/assets/logo.png" class="w-44 rounded-full" />
      </div>
    </div>
    <div>
      <div
        class="font-display text-white uppercase text-sm tracking-widest mb-6"
      >
        More info
      </div>
      <a
        routerLink="/about-us"
        class="block mb-4 hover:text-red-500 transition-colors"
        >About</a
      >
      <a
        routerLink="/services"
        class="block mb-4 hover:text-red-500 transition-colors"
        >Our Services</a
      >
      <a
        routerLink="/contact-us"
        class="block mb-4 hover:text-red-500 transition-colors"
        >Contact Us</a
      >
    </div>
    <div>
      <div
        class="font-display text-white uppercase text-sm tracking-widest mb-6"
      >
        Services
      </div>
      <a
        routerLink="/services"
        class="block mb-4 hover:text-red-500 transition-colors"
        >Home Loan</a
      >
      <a
        routerLink="/services"
        class="block mb-4 hover:text-red-500 transition-colors"
        >Car Loan</a
      >
      <a
        routerLink="/services"
        class="block mb-4 hover:text-red-500 transition-colors"
        >Personal Loan</a
      >
    </div>
    <div>
      <div
        class="font-display text-white uppercase text-sm tracking-widest mb-6"
      >
        Find out more
      </div>
      <a routerLink="/" class="block mb-4 hover:text-red-500 transition-colors"
        >Home</a
      >
      <a
        href="tel:+919826288849"
        class="block mb-4 hover:text-red-500 transition-colors"
        >Call Us</a
      >
      <a
        href="https://wa.me/919826288849"
        class="block mb-4 hover:text-red-500 transition-colors"
        target="_blank"
        >Whatsapp Us</a
      >
    </div>
  </div>
  <div
    class="text-sm lg:text-base text-center font-heading font-light tracking-widest uppercase text-white opacity-75 pb-24"
  >
    ©2022 DESIGN BY AARAV INFOTECH
  </div>
</div>
