<div class="text-center py-12 px-6 mt-12">
  <h1 class="font-display font-bold text-5xl mb-6">Get in touch</h1>
  <div class="max-w-lg mx-auto">
    <h3 class="flex items-center font-bold my-2">
      Equator Financial Advisory & Consultancy Pvt. Ltd.
    </h3>
    <a href="tel:+919826288849" class="flex items-center my-2"
      ><svg
        class="w-4 h-4 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
        ></path>
      </svg>
      +91 98262 88849 </a
    ><a
      href="mailto:mukul@equatorfinancialadvisory.com"
      class="flex items-center my-2"
      ><svg
        class="w-4 h-4 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
        ></path>
      </svg>
      mukul@equatorfinancialadvisory.com</a
    >
    <div class="flex items-center my-2">
      <svg
        class="w-4 h-4 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      MON-SAT, 10 AM - 6 PM
    </div>
    <a
      href="https://goo.gl/maps/MW5sUzNHvgKBPgNv7"
      target="_blank"
      class="flex items-center my-2"
      ><svg
        class="w-4 h-4 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
        ></path>
      </svg>
      <span class="text-left">
        House No.596 M.R. - 5,
        <br />
        Nariman Point Road, Mahalaxmi Nagar,
        <br />
        Indore, Madhya Pradesh 452010
      </span>
    </a>
  </div>
</div>
<div class="container mx-auto px-6 mb-12">
  <form method="POST" [formGroup]="form" (ngSubmit)="sendEnquiry()">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 max-w-4xl mx-auto">
      <div>
        <label class="block text-base tracking-tight text-gray-600">Name</label>
        <input
          [readonly]="submitting"
          formControlName="name"
          placeholder="Name"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="name.dirty || name.touched">
          <span class="text-red-600 block" *ngIf="name.hasError('required')"
            >Field is required</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600">Age</label>
        <input
          [readonly]="submitting"
          (input)="convertToNumber(age)"
          formControlName="age"
          placeholder="Your age"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="age.dirty || age.touched">
          <span class="text-red-600 block" *ngIf="age.hasError('required')"
            >Field is required</span
          >
          <span
            class="text-red-600 block"
            *ngIf="age.hasError('pattern') || age.hasError('min')"
            >Age is invalid</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Contact Number</label
        >
        <input
          [readonly]="submitting"
          (input)="convertToNumber(contactNumber)"
          formControlName="contactNumber"
          placeholder="Your mobile number"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="contactNumber.dirty || contactNumber.touched">
          <span
            class="text-red-600 block"
            *ngIf="contactNumber.hasError('required')"
            >Field is required</span
          >
          <span
            class="text-red-600 block"
            *ngIf="contactNumber.hasError('pattern')"
            >Invalid mobile number entered</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Company Name</label
        >
        <input
          [readonly]="submitting"
          formControlName="companyName"
          placeholder="Name of your company"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="companyName.dirty || companyName.touched">
          <span *ngIf="companyName.hasError('required')" class="text-red-600"
            >Field is required</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Net Salary</label
        >
        <input
          [readonly]="submitting"
          formControlName="netSalary"
          placeholder="Net Salary"
          (input)="convertToNumber(netSalary)"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="netSalary.dirty || netSalary.touched">
          <span
            *ngIf="netSalary.hasError('required')"
            class="text-red-600 block"
            >Field is required</span
          >
          <span *ngIf="netSalary.hasError('min')" class="text-red-600 block"
            >Invalid salary entered</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Working Since</label
        >
        <input
          [readonly]="submitting"
          formControlName="workingSince"
          (input)="convertToNumber(workingSince)"
          placeholder="Working Since"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="workingSince.dirty || workingSince.touched">
          <span
            class="text-red-600 block"
            *ngIf="workingSince.hasError('required')"
            >Field is required</span
          >
          <span class="text-red-600 block" *ngIf="workingSince.hasError('min')"
            >Year cannot be less than 1970</span
          >
          <span class="text-red-600 block" *ngIf="workingSince.hasError('max')"
            >Year cannot be greater than {{ date.getFullYear() }}</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Current Loans EMI</label
        >
        <input
          [readonly]="submitting"
          formControlName="currentLoansEmi"
          (input)="convertToNumber(currentLoansEmi)"
          placeholder="Current Loans EMI"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="currentLoansEmi.dirty || currentLoansEmi.touched">
          <span
            *ngIf="currentLoansEmi.hasError('required')"
            class="text-red-600 block"
            >Field is required</span
          >
          <span
            *ngIf="currentLoansEmi.hasError('min')"
            class="text-red-600 block"
            >Invalid amount</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Required Loan Amount</label
        >
        <input
          [readonly]="submitting"
          formControlName="requiredLoanAmount"
          (input)="convertToNumber(requiredLoanAmount)"
          placeholder="Required Loan Amount"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="requiredLoanAmount.dirty || requiredLoanAmount.touched">
          <span
            *ngIf="requiredLoanAmount.hasError('required')"
            class="text-red-600 block"
            >Field is required</span
          >
          <span
            *ngIf="requiredLoanAmount.hasError('min')"
            class="text-red-600 block"
            >Invalid amount</span
          >
        </span>
      </div>
      <div>
        <label class="block text-base tracking-tight text-gray-600"
          >Location</label
        >
        <input
          [readonly]="submitting"
          formControlName="location"
          placeholder="Where do you live?"
          class="mt-2 w-full border-none text-sm p-2 bg-gray-100 text-gray-700"
        />
        <span *ngIf="location.dirty || location.touched">
          <span class="text-red-600" *ngIf="location.hasError('required')"
            >Field is required</span
          >
        </span>
      </div>
      <button
        type="submit"
        [disabled]="submitting"
        class="inline-block border-2 text-white uppercase text-sm transition-all tracking-widest font-heading px-8 py-4 mt-6"
        [ngClass]="{
          'hover:text-yellow-800': !submitting,
          'hover:bg-white': !submitting
        }"
        [class.border-yellow-400]="submitting"
        [class.bg-yellow-400]="submitting"
        [class.border-yellow-800]="!submitting"
        [class.bg-yellow-800]="!submitting"
      >
        {{ submitting ? "Submitting..." : "Send enquiry" }}
      </button>
    </div>
    <div
      *ngIf="showSuccessAlert"
      class="max-w-4xl mx-auto mt-5 text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-800"
    >
      <span class="text-xl inline-block mr-5 align-middle">
        <i class="fas fa-bell"></i>
      </span>
      <span class="inline-block align-middle mr-8">
        <b class="capitalize">Success!</b> Our executive will contact you soon!
      </span>
      <button
        class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
        (click)="showSuccessAlert = false"
      >
        <span>×</span>
      </button>
    </div>
    <div
      *ngIf="showErrorAlert"
      class="max-w-4xl mx-auto mt-5 text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-800"
    >
      <span class="text-xl inline-block mr-5 align-middle">
        <i class="fas fa-bell"></i>
      </span>
      <span class="inline-block align-middle mr-8">
        <b class="capitalize">Something went wrong!</b> Please try again after
        sometime or call us on
        <a href="tel:+919826288849" class="flex items-center"
          ><svg
            class="w-4 h-4 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
            ></path>
          </svg>
          +91 98262 88849
        </a>
      </span>
      <button
        class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
        (click)="showErrorAlert = false"
      >
        <span>×</span>
      </button>
    </div>
  </form>
</div>
