<div class="text-center py-12 px-6 mt-12">
  <h1 class="font-display font-bold text-5xl mb-6">About Us</h1>
  <p class="max-w-lg mx-auto"></p>
</div>
<div
  class="prose prose-sm sm:prose lg:prose-lg mt-6 text-center mx-auto pb-24 px-6"
>
  <p>
    We are excellent at what we do. To fulfill your objective we are having
    expert team and years of expertise to get the job done.
  </p>
  <p>
    Our advisors are highly qualified (MBA’s / CFP’s / Financial Planning
    Diploma / Masters in Commerce) and are also having deep understanding of the
    domain therefore, whenever there is a need to urgency they will contact you
    and give you time to time update about the process.
  </p>
  <p>
    At Equator, you can rest assured your application is in good hands and we'll
    try our level best to transit your loan application without any failure. All
    you need is a good documentation and our team will draft an applications on
    your behalf which will help you in getting the disbursement at the earliest.
  </p>
</div>
