<div class="text-center py-12 px-6 mt-12">
  <h1 class="font-display font-bold text-5xl mb-6">Our Services</h1>
  <p class="max-w-lg mx-auto">
    There are many financial instruments which can help you in gaining what you
    desire and we at Equator Financial Advisory does everything which can help
    you in achieving your goal sooner...
  </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-start items-center">
    ><img src="/assets/images/car-loan.webp" class="w-full max-w-md" />
  </div>
  <div
    class="md:order-first bg-gray-100 p-12 md:p-24 flex justify-end items-center"
  >
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        Car Loan
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      ></p>
      <p>
        With your own car, you’ll enjoy the convenience of being able to travel
        anywhere you want, any time you want.
      </p>
      <p class="mt-5">
        You’ll enjoy being able to have your own independence and not having to
        rely on public transit, ride-share systems, or carpools. With your own
        car, you’re in charge of when you leave, arrive, and wherever you go.
      </p>
      <a
        href="/contact-us"
        class="inline-block border-2 border-yellow-800 mt-5 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Apply Now</a
      >
    </div>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-end items-center">
    ><img
      loading="lazy"
      src="/assets/images/house-loan.webp"
      class="w-full max-w-md"
    />
  </div>
  <div class="bg-gray-100 p-12 md:p-24 flex justify-start items-center">
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        House Loan
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        The home provides security, control, belonging, identity, and privacy,
        among other things. "But most of all, it's a place that provides us with
        a center in a place from which we leave each morning and to which we
        return each evening.
      </p>
      <a
        href="/contact-us"
        class="inline-block border-2 border-yellow-800 mt-5 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Apply Now</a
      >
    </div>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-start items-center">
    <img src="/assets/images/business-loan.webp" class="w-full max-w-md" />
  </div>
  <div
    class="md:order-first bg-gray-100 p-12 md:p-24 flex justify-end items-center"
  >
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        Busines Loan
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        Business improves the quality of life in two ways. Firstly, it provides
        high-quality goods and service to the people required for their
        enjoyment, comfort, and health. Secondly, a business offers employment
        opportunities to the people by which they can generate income and
        improve the quality of life.
      </p>
      <a
        href="/contact-us"
        class="inline-block border-2 border-yellow-800 mt-5 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Apply Now</a
      >
    </div>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-end items-center">
    <a href="/blog/this-is-latest-post/"
      ><img
        loading="lazy"
        src="/assets/images/personal-loan.webp"
        class="w-full max-w-md"
    /></a>
  </div>
  <div class="bg-gray-100 p-12 md:p-24 flex justify-start items-center">
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        Personal Loan
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        Personal loans are borrowed money that can be used for large purchases,
        debt consolidation, emergency expenses and much more. These loans are
        paid back in monthly installments over the course of a few months or
        upwards of a few years. It can take longer depending on your
        circumstances and how diligent you are with making payments.
      </p>
      <a
        href="/contact-us"
        class="inline-block border-2 border-yellow-800 mt-5 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Apply Now</a
      >
    </div>
  </div>
</div>
