<!---Slider-->
<div class="-mt-24 relative w-full py-12 px-12 bg-black">
  <div class="relative z-10 text-center py-24 md:py-48">
    <h1
      class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold mb-12"
    >
      We make your financial dreams come true
    </h1>
    <a
      routerLink="/about-us"
      class="inline-block transition-all border-yellow-800 bg-yellow-800 text-white uppercase text-sm tracking-widest font-heading px-8 border-2 hover:bg-white hover:text-yellow-800 hover:border-yellow-800 py-4"
      >Who are we?</a
    >
  </div>
  <div
    class="relative z-10 mx-auto max-w-4xl flex justify-between uppercase text-white font-heading tracking-widest text-sm"
  >
    <a routerLink="/services" class="border-b border-white">Our Services</a>
    <a routerLink="/contact-us" class="border-b border-white">Get in touch</a>
  </div>
  <img
    src="/assets/images/slide.webp"
    loading="lazy"
    class="w-full h-full absolute inset-0 object-cover opacity-70"
  />
</div>
<!---Slider End-->
<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-end items-center">
    <a routerLink="/services"
      ><img
        loading="lazy"
        src="/assets/images/markus.webp"
        class="w-full max-w-md"
    /></a>
  </div>
  <div class="bg-gray-100 p-12 md:p-24 flex justify-start items-center">
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        Why Choose Us?
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        Because our service is premium and we believe in fair communication.
        Whenever there are any odds than we'll tell you on priority. Also, our
        team is fully focused and they take each application very seriously,
        they work on each case fairly and find the best financier for you.
      </p>
      <a
        routerLink="/services"
        class="inline-block border-2 transition-all border-yellow-800 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Apply Now</a
      >
    </div>
  </div>
</div>
<div class="relative bg-black w-full py-12 px-12">
  <div class="relative z-10 text-center py-12 md:py-24">
    <h1
      class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold mb-6"
    >
      A Loan can benefit if used wisely
    </h1>
    <p class="text-white mb-10 text-base md:text-lg font-bold">
      Organically grow the holistic world view of disruptive innovation via
      workplace diversity and empowerment.
    </p>
    <a
      routerLink="/about-us"
      class="inline-block bg-yellow-800 text-white hover:bg-white hover:text-yellow-800 border-yellow-800 border-2 uppercase text-sm tracking-widest font-heading px-8 py-4"
      >Find out more</a
    >
  </div>
  <img
    src="/assets/images/hi-five.webp"
    class="w-full h-full absolute inset-0 object-cover opacity-50 bg-black"
  />
</div>

<div class="max-w-xl mx-auto text-center py-24 md:py-32">
  <div class="w-24 h-2 bg-yellow-800 mb-4 mx-auto"></div>
  <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl mb-6">
    You love to travel
  </h2>
  <p class="font-light text-gray-600 mb-6 leading-relaxed">
    There is no limit on how you can use the personal loan for travel. You can
    head to any destination of your choice, and all your expenses will be taken
    care of by the personal loan. Whether you want to travel within the country
    or head out abroad, with a personal loan in hand you will have the
    confidence to explore the world without constantly worrying about money.
  </p>
  <a
    routerLink="contact-us"
    class="inline-block border-2 hover:bg-white transition-all hover:border-yellow-800 font-light hover:text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 bg-yellow-800 text-white"
    >Apply Now</a
  >
</div>
<div class="flex flex-wrap bg-black">
  <a
    routerLink="services"
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
    ><div class="relative z-10">Car Loan</div>
    <img
      src="/assets/images/car-loan.webp"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    /> </a
  ><a
    routerLink="services"
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
    ><div class="relative z-10">House Loan</div>
    <img
      src="/assets/images/house-loan.webp"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    /> </a
  ><a
    routerLink="services"
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
    ><div class="relative z-10">Business Loan</div>
    <img
      src="/assets/images/business-loan.webp"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
  /></a>
</div>
